In [3]:
%cd airflow

/home/welberthime/Development/fiap/cartolafc/airflow

In [6]:
!python3 include/raw_extractor.py

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): api.github.com:443
DEBUG:urllib3.connectionpool:https://api.github.com:443 "GET /repos/henriquepgomide/caRtola/contents/data HTTP/1.1" 200 1223
INFO:root:Staring extraction...
DEBUG:root:Creating folder at ./data/raw/2014/dados_agregados_amostras...
DEBUG:root:Downloading file from https://raw.githubusercontent.com/henriquepgomide/caRtola/master/data/dados_agregados_amostras.csv...
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): raw.githubusercontent.com:443
DEBUG:urllib3.connectionpool:https://raw.githubusercontent.com:443 "GET /henriquepgomide/caRtola/master/data/dados_agregados_amostras.csv HTTP/1.1" 200 1572341
DEBUG:root:Downloading file ./data/raw/2014/dados_agregados_amostras/1.csv...
DEBUG:root:Creating folder at ./data/raw/2014/dados_agregados_limpos...
DEBUG:root:Downloading file from https://raw.githubusercontent.com/henriquepgomide/caRtola/master/data/dados_agregados_limpos.csv...
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): raw.githubusercontent.com:443
DEBUG:urllib3.connectionpool:https://raw.githubusercontent.com:443 "GET /henriquepgomide/caRtola/master/data/dados_agregados_limpos.csv HTTP/1.1" 200 1711734
DEBUG:root:Downloading file ./data/raw/2014/dados_agregados_limpos/1.csv...
DEBUG:root:Creating folder at ./data/raw/2014/posicoes_ids...
DEBUG:root:Downloading file from https://raw.githubusercontent.com/henriquepgomide/caRtola/master/data/posicoes_ids.csv...
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): raw.githubusercontent.com:443
DEBUG:urllib3.connectionpool:https://raw.githubusercontent.com:443 "GET /henriquepgomide/caRtola/master/data/posicoes_ids.csv HTTP/1.1" 200 144
DEBUG:root:Downloading file ./data/raw/2014/posicoes_ids/1.csv...
DEBUG:root:Creating folder at ./data/raw/2014/times_ids...
DEBUG:root:Downloading file from https://raw.githubusercontent.com/henriquepgomide/caRtola/master/data/times_ids.csv...
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): raw.githubusercontent.com:443
DEBUG:urllib3.connectionpool:https://raw.githubusercontent.com:443 "GET /henriquepgomide/caRtola/master/data/times_ids.csv HTTP/1.1" 200 1569
DEBUG:root:Downloading file ./data/raw/2014/times_ids/1.csv...
INFO:root:Success..
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): api.github.com:443
DEBUG:urllib3.connectionpool:https://api.github.com:443 "GET /repos/henriquepgomide/caRtola/contents/data/2014 HTTP/1.1" 200 783
INFO:root:Staring extraction...
DEBUG:root:Creating folder at ./data/raw/2014/jogadores...
DEBUG:root:Downloading file from https://raw.githubusercontent.com/henriquepgomide/caRtola/master/data/2014/2014_jogadores.csv...
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): raw.githubusercontent.com:443
DEBUG:urllib3.connectionpool:https://raw.githubusercontent.com:443 "GET /henriquepgomide/caRtola/master/data/2014/2014_jogadores.csv HTTP/1.1" 200 10542
DEBUG:root:Downloading file ./data/raw/2014/jogadores/1.csv...
DEBUG:root:Creating folder at ./data/raw/2014/lances...
DEBUG:root:Downloading file from https://raw.githubusercontent.com/henriquepgomide/caRtola/master/data/2014/2014_lances.csv...
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): raw.githubusercontent.com:443
DEBUG:urllib3.connectionpool:https://raw.githubusercontent.com:443 "GET /henriquepgomide/caRtola/master/data/2014/2014_lances.csv HTTP/1.1" 200 494965
DEBUG:root:Downloading file ./data/raw/2014/lances/1.csv...
DEBUG:root:Creating folder at ./data/raw/2014/partidas...
DEBUG:root:Downloading file from https://raw.githubusercontent.com/henriquepgomide/caRtola/master/data/2014/2014_partidas.csv...
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): raw.githubusercontent.com:443
DEBUG:urllib3.connectionpool:https://raw.githubusercontent.com:443 "GET /henriquepgomide/caRtola/master/data/2014/2014_partidas.csv HTTP/1.1" 200 6541
DEBUG:root:Downloading file ./data/raw/2014/partidas/1.csv...
DEBUG:root:Creating folder at ./data/raw/2014/partidas_ids...
DEBUG:root:Downloading file from https://raw.githubusercontent.com/henriquepgomide/caRtola/master/data/2014/2014_partidas_ids.csv...
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): raw.githubusercontent.com:443
DEBUG:urllib3.connectionpool:https://raw.githubusercontent.com:443 "GET /henriquepgomide/caRtola/master/data/2014/2014_partidas_ids.csv HTTP/1.1" 200 2884
DEBUG:root:Downloading file ./data/raw/2014/partidas_ids/1.csv...
DEBUG:root:Creating folder at ./data/raw/2014/scouts_raw...
DEBUG:root:Downloading file from https://raw.githubusercontent.com/henriquepgomide/caRtola/master/data/2014/2014_scouts_raw.csv...
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): raw.githubusercontent.com:443
DEBUG:urllib3.connectionpool:https://raw.githubusercontent.com:443 "GET /henriquepgomide/caRtola/master/data/2014/2014_scouts_raw.csv HTTP/1.1" 200 403821
DEBUG:root:Downloading file ./data/raw/2014/scouts_raw/1.csv...
DEBUG:root:Creating folder at ./data/raw/2014/times...
DEBUG:root:Downloading file from https://raw.githubusercontent.com/henriquepgomide/caRtola/master/data/2014/2014_times.csv...
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): raw.githubusercontent.com:443
DEBUG:urllib3.connectionpool:https://raw.githubusercontent.com:443 "GET /henriquepgomide/caRtola/master/data/2014/2014_times.csv HTTP/1.1" 200 352
DEBUG:root:Downloading file ./data/raw/2014/times/1.csv...
INFO:root:Success...

In [ ]:
import pandas as pd

In [99]:
clubes_df = pd.read_csv("./data/raw/2014/times_ids/1.csv")
clubes_df = clubes_df[["id", "cod.2018"]].rename(
    columns={"cod.2018": "olderID", "id": "clubeID"}
)

partidas_df = pd.read_csv("./data/raw/2014/partidas_ids/1.csv")

partidas_df = partidas_df.merge(
    right=clubes_df,
    left_on="Casa",
    right_on="olderID",
    suffixes=(None, "_mandante"),
)

partidas_df = partidas_df.merge(
    right=clubes_df,
    left_on="Visitante",
    right_on="olderID",
    suffixes=(None, "_visitante"),
)

partidas_df["temporada"] = 2014
partidas_df = partidas_df.rename(
    columns={
        "ID": "partidaID",
        "clubeID": "clubeMandanteID",
        "clubeID_visitante": "clubeVisitanteID",
        "PlacarCasa": "mandantePlacar",
        "PlacarVisitante": "visitantePlacar",
        "Rodada": "rodada",
        "Resultado": "resultado",
    }
)

partidas_df = partidas_df[[
    "partidaID",
    "clubeMandanteID",
    "clubeVisitanteID",
    "mandantePlacar",
    "visitantePlacar",
    "rodada",
    "resultado",
    "temporada",
]]

partidas_df

,partidaID,clubeMandanteID,clubeVisitanteID,mandantePlacar,visitantePlacar,rodada,resultado,temporada
0,179872,262,290,0,0,1,Empate,2014
1,180066,266,290,2,0,13,Casa,2014
2,180145,276,290,3,0,31,Casa,2014
3,179998,277,290,2,0,25,Casa,2014
4,180179,293,290,1,0,37,Casa,2014
...,...,...,...,...,...,...,...,...
451,180023,283,262,3,0,9,Casa,2014
452,180144,287,262,1,2,18,Visitante,2014
453,180158,284,262,1,1,38,Empate,2014
454,180084,316,262,1,2,27,Visitante,2014
455,179914,290,262,1,0,20,Casa,2014

In [115]:
clubes_df = pd.read_csv("./data/raw/2014/times_ids/1.csv")
clubes_df = clubes_df[["id", "cod.2018"]].rename(
    columns={"cod.2018": "olderID", "id": "clubeID"}
)

scouts_df = pd.read_csv("./data/raw/2014/scouts_raw/1.csv")

scouts_df = scouts_df.merge(
    right=clubes_df,
    left_on="Clube",
    right_on="olderID",
    how="left",
)

scouts_df = scouts_df.rename(
    columns={
        'Atleta': "atletaID",
        'Rodada': "rodada",
        'Partida': "partidaID",
        'Pontos': "pontos",
        'PontosMedia': "pontosMedia",
        'Preco': "preco", 
        'PrecoVariacao': "precoVariacao",
    },
)

scouts_df = scouts_df[[
    "clubeID",
    "atletaID",
    "partidaID",
    "pontos",
    "pontosMedia",
    "preco",
    "precoVariacao",
    "FS",
    "PE",
    "A",
    "FT",
    "FD",
    "FF",
    "G",
    "I",
    "PP",
    "RB",
    "FC",
    "GC",
    "CA",
    "CV",
    "SG",
    "DD",
    "DP",
    "GS",
]]

scouts_df

,clubeID,atletaID,partidaID,pontos,pontosMedia,preco,precoVariacao,FS,PE,A,...,PP,RB,FC,GC,CA,CV,SG,DD,DP,GS
0,NaN,36443,NaN,0.0,0.00,9.00,0.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,285.0,36443,179879.0,5.0,5.00,10.60,1.60,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,285.0,36443,179882.0,-3.0,1.00,8.27,-2.33,2,0,0,...,0,0,0,0,0,0,0,0,0,2
3,285.0,36443,179904.0,-2.6,-0.20,6.81,-1.46,0,2,0,...,0,0,0,0,0,0,0,0,0,1
4,285.0,36443,179922.0,4.0,0.85,7.96,1.15,0,0,0,...,0,0,0,0,0,0,0,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33178,293.0,84794,180149.0,0.9,0.90,1.24,0.24,0,1,0,...,0,1,1,0,0,0,0,0,0,0
33179,293.0,84794,180149.0,0.9,0.90,1.24,0.24,0,1,0,...,0,1,1,0,0,0,0,0,0,0
33180,285.0,89815,180160.0,1.0,0.25,1.00,0.19,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33181,284.0,82639,180158.0,0.0,0.00,1.00,0.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33182,282.0,89975,180141.0,0.0,0.00,1.00,0.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [114]:
clubes_df = pd.read_csv("./data/raw/2014/times_ids/1.csv")
clubes_df = clubes_df[["id", "cod.2018"]].rename(
    columns={"cod.2018": "olderID", "id": "clubeID"}
)

atletas_df = pd.read_csv("./data/raw/2014/jogadores/1.csv")

atletas_df = atletas_df.merge(
    right=clubes_df,
    left_on="ClubeID",
    right_on="olderID",
    how="inner",
)

atletas_df.drop_duplicates(inplace=True)
atletas_df.rename(
    columns={
        "ID": "atletaID",
        "Apelido": "apelido",
        "PosicaoID": "posicaoID",
    },
    inplace=True
)

atletas_df = atletas_df[[
    "atletaID",
    "clubeID",
    "apelido",
    "posicaoID",
]]

atletas_df

      atletaID  clubeID            apelido  posicaoID
0        80583      277         Lucas Lima          4
1        69008      277               Neto          3
2        78248      277   Gustavo Henrique          3
3        73855      277              Jubal          3
4        70046      277      Victor Ferraz          2
...        ...      ...                ...        ...
1166     80664      282             Michel          2
1167     36802      282  Ronaldinho Gaúcho          4
1168     85403      282             Daniel          4
1169     87229      282             Donato          3
1170     89975      282            Rodolfo          1

[1033 rows x 4 columns]

In [120]:
posicoes_df = pd.read_csv("./data/raw/2014/posicoes_ids/1.csv")
posicoes_df.rename(
    columns={
        "Cod": "posicaoID",
        "Position": "nome",
        "abbr": "abreviacao",
    },
    inplace=True,
)

posicoes_df = posicoes_df[[
    "posicaoID",
    "nome",
    "abreviacao",
]]

posicoes_df

   posicaoID      nome abreviacao
0          1   Goleiro        gol
1          2   Lateral        lat
2          3  Zagueiro        zag
3          4      Meia        mei
4          5  Atacante        ata
5          6   Técnico        tec

In [127]:
clubes_df = pd.read_csv("./data/raw/2014/times_ids/1.csv")
clubes_df.rename(
    columns={
        "id": "clubeID",
        "nome.cbf": "nome",
    },
    inplace=True,
)

clubes_df = clubes_df[["clubeID", "nome", "abreviacao"]]
clubes_df.drop_duplicates(inplace=True)

clubes_df

    clubeID                nome abreviacao
0       327        América - MG        AME
1       200        America - RN        OUT
2       373       Atlético - GO        ATL
3       282       Atlético - MG        ATL
4       293       Atlético - PR        ATL
5       293       Atletico - PR        ATL
6       293        Athlético-PR        ATL
7       314           Avaí - SC        AVA
8       265          Bahia - BA        BAH
9       263       Botafogo - RJ        BOT
10      203         Brasiliense        BRA
11      354          Ceará - CE        CEA
14      315    Chapecoense - SC        CHA
15      205       Clube Nautico        NAU
16      264    Corinthians - SP        COR
17      294       Coritiba - PR        COR
18      206       Criciuma - SC        CRI
19      283       Cruzeiro - MG        CRU
20      341                 CSA        CSA
21      316    Figueirense - SC        FIG
22      262       Flamengo - RJ        FLA
23      266     Fluminense - RJ        FLU
24      356           Fortaleza        FOR
25      290          Goiás - GO        GOI
26      284         Grêmio - RS        GRE
27      211      Gremio Barueri        OUT
28      212     Gremio Prudente        PRU
29      213          Guarani FC        GUA
30      285  Internacional - RS        INT
31      214         Ipatinga FC        IPA
32      215      Joinville - SC        JEC
33      216      Juventude - RS        JUV
34      218       Paysandu - SC        PAY
35      275      Palmeiras - SP        PAL
36      217         Paraná - PR        PAR
37      303    Ponte Preta - SP        PON
38      219          Portuguesa        POR
39      344     Santa Cruz - PE        STC
40      220      Santo Andre EC        SAN
41      277         Santos - SP        SAN
42      221         São Caetano        SAO
43      276      São Paulo - SP        SAO
44      292          Sport - PE        SPO
45      267  Vasco da Gama - RJ        VAS
46      287        Vitória - BA        VIT