In [4]:
%cd ../airflow
%pwd

/home/welberthime/Development/fiap/cartolafc/airflow

'/home/welberthime/Development/fiap/cartolafc/airflow'

In [7]:
from include import RawExtractor

extractor = RawExtractor(
    base_url="https://api.github.com/repos/henriquepgomide/caRtola/contents/data",
    path="./data/raw",
)

extractor.extract_static_files("2014")
extractor.extract_dynamic_files("2014")

In [8]:
import pandas as pd

In [16]:
clubes_df = pd.read_csv("./data/raw/2014/times_ids/1.csv")
clubes_df = clubes_df[["id", "cod.2018"]].rename(
    columns={"cod.2018": "olderID", "id": "clubeID"}
).drop_duplicates()

partidas_df = pd.read_csv("./data/raw/2014/partidas_ids/1.csv")

partidas_df = partidas_df.merge(
    right=clubes_df,
    left_on="Casa",
    right_on="olderID",
    suffixes=(None, "_mandante"),
)

partidas_df = partidas_df.merge(
    right=clubes_df,
    left_on="Visitante",
    right_on="olderID",
    suffixes=(None, "_visitante"),
)

partidas_df["temporada"] = 2014
partidas_df = partidas_df.rename(
    columns={
        "ID": "partidaID",
        "clubeID": "clubeMandanteID",
        "clubeID_visitante": "clubeVisitanteID",
        "PlacarCasa": "mandantePlacar",
        "PlacarVisitante": "visitantePlacar",
        "Rodada": "rodada",
        "Resultado": "resultado",
    }
)

partidas_df = partidas_df[[
    "partidaID",
    "clubeMandanteID",
    "clubeVisitanteID",
    "mandantePlacar",
    "visitantePlacar",
    "rodada",
    "resultado",
    "temporada",
]]

partidas_df

,partidaID,clubeMandanteID,clubeVisitanteID,mandantePlacar,visitantePlacar,rodada,resultado,temporada
0,179872,262,290,0,0,1,Empate,2014
1,180066,266,290,2,0,13,Casa,2014
2,180145,276,290,3,0,31,Casa,2014
3,179998,277,290,2,0,25,Casa,2014
4,180179,293,290,1,0,37,Casa,2014
...,...,...,...,...,...,...,...,...
375,180023,283,262,3,0,9,Casa,2014
376,180144,287,262,1,2,18,Visitante,2014
377,180158,284,262,1,1,38,Empate,2014
378,180084,316,262,1,2,27,Visitante,2014
379,179914,290,262,1,0,20,Casa,2014

In [19]:
clubes_df = pd.read_csv("./data/raw/2014/times_ids/1.csv")
clubes_df = clubes_df[["id", "cod.2018"]].rename(
    columns={"cod.2018": "olderID", "id": "clubeID"}
).drop_duplicates()

scouts_df = pd.read_csv("./data/raw/2014/scouts_raw/1.csv")

scouts_df = scouts_df.merge(
    right=clubes_df,
    left_on="Clube",
    right_on="olderID",
    how="left",
)

scouts_df = scouts_df.rename(
    columns={
        'Atleta': "atletaID",
        'Rodada': "rodada",
        'Partida': "partidaID",
        'Pontos': "pontos",
        'PontosMedia': "pontosMedia",
        'Preco': "preco", 
        'PrecoVariacao': "precoVariacao",
    },
)

scouts_df = scouts_df[[
    "clubeID",
    "atletaID",
    "partidaID",
    "pontos",
    "pontosMedia",
    "preco",
    "precoVariacao",
    "FS",
    "PE",
    "A",
    "FT",
    "FD",
    "FF",
    "G",
    "I",
    "PP",
    "RB",
    "FC",
    "GC",
    "CA",
    "CV",
    "SG",
    "DD",
    "DP",
    "GS",
]]

scouts_df

,clubeID,atletaID,partidaID,pontos,pontosMedia,preco,precoVariacao,FS,PE,A,...,PP,RB,FC,GC,CA,CV,SG,DD,DP,GS
0,NaN,36443,NaN,0.0,0.00,9.00,0.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,285.0,36443,179879.0,5.0,5.00,10.60,1.60,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,285.0,36443,179882.0,-3.0,1.00,8.27,-2.33,2,0,0,...,0,0,0,0,0,0,0,0,0,2
3,285.0,36443,179904.0,-2.6,-0.20,6.81,-1.46,0,2,0,...,0,0,0,0,0,0,0,0,0,1
4,285.0,36443,179922.0,4.0,0.85,7.96,1.15,0,0,0,...,0,0,0,0,0,0,0,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31562,NaN,89924,180152.0,0.0,-0.80,0.81,0.00,0,1,0,...,0,0,1,0,0,0,0,0,0,0
31563,293.0,84794,180149.0,0.9,0.90,1.24,0.24,0,1,0,...,0,1,1,0,0,0,0,0,0,0
31564,285.0,89815,180160.0,1.0,0.25,1.00,0.19,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31565,284.0,82639,180158.0,0.0,0.00,1.00,0.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31566,282.0,89975,180141.0,0.0,0.00,1.00,0.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
clubes_df = pd.read_csv("./data/raw/2014/times_ids/1.csv")
clubes_df = clubes_df[["id", "cod.2018"]].rename(
    columns={"cod.2018": "olderID", "id": "clubeID"}
).drop_duplicates()

atletas_df = pd.read_csv("./data/raw/2014/jogadores/1.csv")

atletas_df = atletas_df.merge(
    right=clubes_df,
    left_on="ClubeID",
    right_on="olderID",
    how="inner",
)

atletas_df.drop_duplicates(inplace=True)
atletas_df.rename(
    columns={
        "ID": "atletaID",
        "Apelido": "apelido",
        "PosicaoID": "posicaoID",
    },
    inplace=True
)

atletas_df = atletas_df[[
    "atletaID",
    "clubeID",
    "posicaoID",
    "apelido",
]]

atletas_df

      atletaID  clubeID  posicaoID            apelido
0        80583      277          4         Lucas Lima
1        69008      277          3               Neto
2        78248      277          3   Gustavo Henrique
3        73855      277          3              Jubal
4        70046      277          2      Victor Ferraz
...        ...      ...        ...                ...
1166     80664      282          2             Michel
1167     36802      282          4  Ronaldinho GaÃºcho
1168     85403      282          4             Daniel
1169     87229      282          3             Donato
1170     89975      282          1            Rodolfo

[1033 rows x 4 columns]

In [23]:
posicoes_df = pd.read_csv("./data/raw/2014/posicoes_ids/1.csv")
posicoes_df.rename(
    columns={
        "Cod": "posicaoID",
        "Position": "nome",
        "abbr": "abreviacao",
    },
    inplace=True,
)

posicoes_df = posicoes_df[[
    "posicaoID",
    "nome",
    "abreviacao",
]]

posicoes_df

   posicaoID      nome abreviacao
0          1   Goleiro        gol
1          2   Lateral        lat
2          3  Zagueiro        zag
3          4      Meia        mei
4          5  Atacante        ata
5          6   TÃ©cnico        tec

In [22]:
clubes_df = pd.read_csv("./data/raw/2014/times_ids/1.csv")
clubes_df.rename(
    columns={
        "id": "clubeID",
        "nome.cbf": "nome",
    },
    inplace=True,
)

clubes_df = clubes_df[["clubeID", "nome", "abreviacao"]]
clubes_df.drop_duplicates(subset=["clubeID"], keep="last", inplace=True)

clubes_df

    clubeID                nome abreviacao
0       327        AmÃ©rica - MG        AME
1       200        America - RN        OUT
2       373       AtlÃ©tico - GO        ATL
3       282       AtlÃ©tico - MG        ATL
6       293        AthlÃ©tico-PR        ATL
7       314           AvaÃ­ - SC        AVA
8       265          Bahia - BA        BAH
9       263       Botafogo - RJ        BOT
10      203         Brasiliense        BRA
13      354          CearÃ¡ - CE        CEA
14      315    Chapecoense - SC        CHA
15      205       Clube Nautico        NAU
16      264    Corinthians - SP        COR
17      294       Coritiba - PR        COR
18      206       Criciuma - SC        CRI
19      283       Cruzeiro - MG        CRU
20      341                 CSA        CSA
21      316    Figueirense - SC        FIG
22      262       Flamengo - RJ        FLA
23      266     Fluminense - RJ        FLU
24      356           Fortaleza        FOR
25      290          GoiÃ¡s - GO        GOI
26      284         GrÃªmio - RS        GRE
27      211      Gremio Barueri        OUT
28      212     Gremio Prudente        PRU
29      213          Guarani FC        GUA
30      285  Internacional - RS        INT
31      214         Ipatinga FC        IPA
32      215      Joinville - SC        JEC
33      216      Juventude - RS        JUV
34      218       Paysandu - SC        PAY
35      275      Palmeiras - SP        PAL
36      217         ParanÃ¡ - PR        PAR
37      303    Ponte Preta - SP        PON
38      219          Portuguesa        POR
39      344     Santa Cruz - PE        STC
40      220      Santo Andre EC        SAN
41      277         Santos - SP        SAN
42      221         SÃ£o Caetano        SAO
43      276      SÃ£o Paulo - SP        SAO
44      292          Sport - PE        SPO
45      267  Vasco da Gama - RJ        VAS
46      287        VitÃ³ria - BA        VIT